# A custom .gitignore file for a Rust-based proejct
# Config
**/.config/*.config.*

!**/.config/default.config.*
!**/.config/docker.config.*

## Dotenv

!**/*.env.example
!**/*.env.default

!**/default.env
!**/default.env.*

!**/example.env
!**/example.env.*

# Language Specific

## Rust
**/debug/
**/target/

**/*.bk
**/*.bk.*

!Cargo.lock

# Platform Specific

## Nix
**/*.drv
**/*.drv.*

!**/flake.lock

# Directories
**/.artifacts/data/
**/.docker/data/
**/.cache/

# File Extensions
**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.tmp
**/*.tmp.*

**/*.tmp-*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*